pkgbase = kernel-modules-hook-dmg
	pkgdesc = Keeps your system fully functional after a kernel upgrade (optimized with hardlinks)
	pkgver = 0.1.8
	pkgrel = 1
	url = https://github.com/saber-nyan/kernel-modules-hook
	install = kernel-modules-hook.install
	arch = any
	license = UNLICENSE
	provides = kernel-modules-hook
	conflicts = kernel-modules-hook
	source = linux-modules-cleanup.conf
	source = linux-modules-cleanup.service
	source = 10-linux-modules-post.hook
	source = 10-linux-modules-pre.hook
	source = UNLICENSE
	sha256sums = 4169b44c297ddb7aad2220c6eba7c7942e3396f92528c59617955ab5560cb4cf
	sha256sums = ae3ea40ccc5dd24227d3c0ad9560dc5db6411a49a506c327ffd24a69ee563368
	sha256sums = 8be06636ae14a2864f10bf6a4927c8e2de27a3db45561c01279fc0e156aca99a
	sha256sums = 48abb05a22c56053a3999a1f57f1001792b0ef2332eddeeadb06b35d3abb2e30
	sha256sums = 7e12e5df4bae12cb21581ba157ced20e1986a0508dd10d0e8a4ab9a4cf94e85c

pkgname = kernel-modules-hook-dmg
