[Unit]
Description=Clean up modules from old kernels
Documentation=https://github.com/dmgr/kernel-modules-hook

[Service]
Type=oneshot
WorkingDirectory=/usr/lib/modules
Environment=ARCHIVE_DIR=.old
ExecStart=/bin/bash -O nullglob -exc 'mkdir -p "$$ARCHIVE_DIR"; for i in [0-9]*; do [[ "%v" = $${i##*/} ]] || pacman -Qo "$$i" || mv "$$i" "$$ARCHIVE_DIR"/; done'
# StandardOutput=journal
# StandardError=journal
# SyslogIdentifier=kernel-modules-cleanup

[Install]
WantedBy=basic.target
